[submodule "Vendor/Binaries/IMGUI"]
	path = Vendor/Binaries/IMGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/Binaries/GLFW"]
	path = Vendor/Binaries/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/Binaries/spdlog"]
	path = Vendor/Binaries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/Binaries/GLM"]
	path = Vendor/Binaries/GLM
	url = https://github.com/g-truc/glm.git
